.form {
    background-color: #f6f6f6;
    padding: 1em 2em;
    border-radius: 1.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    margin: auto;
}

.form-field {
    padding: 0.2em 0;
}

.dark .form {
    background-color: #363A3E;
}

.from-and-to{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.confettify {
    background: linear-gradient(45deg, #FF9A61, #FF6F61, #FF61B2, #FF61FF, #61B2FF, #61E3FF, #61FFD9, #61FF61, #ffc205, #FF9A61);
    padding: 0.5em 1em;
    border-radius: 3em;
    border: none;
    color: white;
    font-family: Outfit, sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 0 0 1em black;
    cursor: pointer;
    user-select: none;
    display: block;
    margin: auto;
}

.confettify:hover {
    filter: brightness(1.1);
    border: 3px solid #c0c0c0;
}

.confettify:active {
    filter: brightness(0.8);
}

.confettify:disabled {
    background: #c0c0c0;
    filter: grayscale(1);
    cursor: not-allowed;
}

.dark .confettify {
    background: #363A3E;
    border: 3px solid #8d8d8d;
}

.hidden {
    display: none;
}

.success-message {
    padding: 1em;
    text-align: center;
}

.success-link {
    color: #38af92;
    display: block;
    margin: 1em auto;
    text-decoration: none;
}

.dark .success-message {
    color: #eeeeee;
}

@media screen and (max-width: 720px){
    .success-link {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 400px) {
    .form {
        padding: 1em;
    }

    .confettify {
        padding: 0.2em 0.4em;
    }

    .confettify-text {
        font-size: 0.8em;
    }

    .success-message {
        font-size: 0.7em;
    }

    .success-link {
        font-size: 0.6em;
    }

}