ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: #f6f6f6;
    color: #363A3E;
}

.navbar-content {
    margin: auto;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.logo-and-description, .description, .nav-icons {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.nav-icons {
    user-select: none;
}

.navbar .icon {
    width: 36px;
}

.inline-block {
    display: inline-block;
}

.dark .navbar {
        background-color: #363A3E;
        color: #eeeeee;
}

@media screen and (max-width: 600px) {
    .description {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .navbar-content {
        padding: 0 1em;
    }

    .logo {
        font-size: 1.2em;
    }

    .navbar .icon {
        width: 1.2em;
    }
}