
.form-field {
    width: 100%
}

.text-input, .textarea, .dropdown {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 3px solid #e0e0e0;
    border-radius: 1em;
}

.dark .text-input, .dark .textarea, .dark .dropdown {
    background-color: rgba(255, 255, 255, 0);
    color: #eeeeee;
    border: 3px solid #8d8d8d;
}

.dark select option {
    background-color: #363A3E;
    color: #eeeeee;
}

.form-field {
    color: #363A3E;
}

.dark .form-field {
    color: #eeeeee;
}

.label-and-action-button {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.action-button {
    background-color: #ececec;
    border: 2px solid #c0c0c0;
    border-radius: 20%;
    width: 2em;
    height: 2em;
    user-select: none;
}

.dark .action-button {
    background-color: #363A3E;
    border: 2px solid #8d8d8d;
}

.action-button:hover {
    filter: brightness(1.3);
}

.action-button:active {
    filter: brightness(0.7);
}

.action-button-image {
    width: 90%;
}

.toggle-label {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 0.8em;
    align-items: center;
}