
.form-field {
    width: 100%
}

.text-input, .textarea, .dropdown {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;

    border-radius: 5px;
}

.dark .text-input, .dark .textarea, .dark .dropdown {
    background-color: rgba(255, 255, 255, 0);
    color: #eeeeee;
    border: 1px solid #eeeeee;
}

.dark select option {
    background-color: #363A3E;
    color: #eeeeee;
}

.form-field {
    color: #363A3E;
}

.dark .form-field {
    color: #eeeeee;
}