.homepage-background {
    min-height: 100vh;
    background: linear-gradient(45deg, #FCE8D7, #F9D7D7, #F9D7E8, #F9D7FF, #D7D7E8, #D7E8FF, #D7F7FF, #D7FFE8, #D7FFD7, #FFF0C5);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 90s ease infinite;
    -z-animation: rainbow 90s ease infinite;
    -o-animation: rainbow 90s ease infinite;
    animation: rainbow 90s ease infinite;}

@-webkit-keyframes rainbow {
    0%, 100% {background-position: 0 82%;}
    50% {background-position: 100% 19%;}
}
@-moz-keyframes rainbow {
    0%, 100% {background-position: 0 82%;}
    50% {background-position: 100% 19%;}
}
@-o-keyframes rainbow {
    0%, 100% {background-position: 0 82%;}
    50% {background-position: 100% 19%;}
}
@keyframes rainbow {
    0%, 100% {background-position: 0 82%;}
    50% {background-position: 100% 19%;}
}


.dark.homepage-background {
    background: #272727;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    min-height: 90vh;
    max-width: 1920px;
    margin: auto;
    padding: 1em;
    justify-items: center;
}

.form {
    width: min(600px, 90%);
}